.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: rgb(62, 168, 172);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 7;
}
/* @media (max-width: 900px) {
  .topbarContainer {
    width: 82%;
  }
  .searchbar {
    visibility: hidden;
  }
}
@media (max-width: 600px) {
  .topbarContainer {
    width: 70%;
  }
  .searchbar {
    visibility: hidden;
  }
} */
.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 1s;
}
.logo:hover {
  color: rgb(26, 96, 103);
  transition: 1s;
}
.topbarCenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchInput {
  border: none;
  width: 70%;
}
.searchInput:focus {
  outline: none;
}
.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}
.topbarLinkHome {
  color: white;
  text-decoration: none;
}
.topbarIconItem:hover,
.topbarLink:hover,
.topbarIconLogout:hover {
  color: rgb(26, 97, 100);
  transition: 0.5s;
}
.topbarIcons {
  display: flex;
}
.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbarIconLogout {
  color: rgb(186, 230, 232);
  cursor: pointer;
  margin-left: 15px;
}
.topbarIconBage {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.topbarImg:hover {
  box-shadow: 0px 0px 10px white;
  transition: 0.3s;
}
